body{
   padding: 0;
   margin: 0;
   color: #000;
   font-size: 15px;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header {
   padding-top: 72px;
}
.container {
   width: 1100px;
   margin: 0 auto;
}

a{
   color: #000;
   text-decoration: none;
}

.nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__title {
   margin: 0;
   font-size: 45px;
   line-height: 62px;
   text-transform: uppercase;
}

.header-button {
   max-width: 195px;
   height: 61px;
   background-color: #6A85E3;
   color: #fff;
   border: none;
   border-radius: 5px;
}

.blox{
   padding-top: 84.5px;
   display: flex;
   justify-content: space-between;
   
}

.header__who {
   position: relative;
   bottom: 250px;
   max-width: 440px;
   height: 170px;
   background-color: #EAEAEA;
   align-items: center;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 20px;
}

.verst{
   padding-top: 5px;
}

.header-button{
   margin-top: 10px;
}

.header__content{
   padding-top: 20px;
}

h1{
   margin:0;
}

@media(max-width:1120px){
   .header{
    padding:10px;
   }
   .header__img{
      position: relative;
      right: 50px;
   }
   .mail{
      position: relative;
      right: 50px;
   }
}

@media(max-width:1120px){
   .header{
    padding:10px;
   }
   .header__img{
      position: relative;
      right: 80px;
   }
   .mail{
      position: relative;
      right: 90px;
   }
}

@media(max-width:1120px){
   .header{
    padding:10px;
   }
   .header__img{
      position: relative;
      right: 100px;
   }
   .mail{
      position: relative;
      right: 120px;
   }
}

@media(max-width:1000px){
   .header{
    padding:10px;
    text-align: center;
   }
   .header__img{
      position: relative;
      right: 140px;
   }
   .mail{
      position: relative;
      right: 150px;
   }
   .blox{
      margin-left: 40px;
   }
}

@media(max-width:980px){
   .header__img{
      position: relative;
      right: 180px;
   }
   .loxysh{
      max-width: 400px;
   }
   .mail{
      position: relative;
      right: 180px;
   }
}



@media(max-width:768px) {
   .header{
      text-align: center;
   }
   .header__img{
      position: relative;
      right: 630px;
      top: 600px;
   }
   .mail{
      position: relative;
      right: 600px;
   } 

}

@media(max-width:526px) {
   .header{
      text-align: center;
   }
   .header__title{
      font-size: 40px;
   }
   .mail{
      position: relative;
      right: 650px;
   }
   .header__img{
      position: relative;
      top: 600px;
   }
   .header__who{
      max-width: 300px;
      margin-left: 50px;
   }
}

@media(max-width:420px) {
   .header{
      text-align: center;
   }
   .header__title{
      font-size: 35px;
   }
   .mail{
      position: relative;
      right: 720px;
   }
   .header__img{
      position: relative;
      right: 690px;
   }
   .header__who{
      max-width: 300px;
      margin-left:20px;
   }
}

@media(max-width:380px){
   .header{
      text-align: center;
   }
   .header__title{
      font-size: 32px;
   }
   .mail{
      position: relative;
      right: 750px;
   }
   .header__img{
      position: relative;
      right: 690px;
   }
   .header__who{
      max-width: 300px;
      margin-left: 1px;
   }
}

@media(max-width:375px){
   .mail{
      position: relative;
      right:770px;
   }
   .header__title{
      font-size: 30px;
   }
   .header__who{
      max-width: 250px;
      margin-left: 30px;
   }
   .header__img{
      padding: 10px;
      max-width: 300px;
      margin-right:200px;
   }
}
